
<h3>Utilizacion de múltiples @ViewChild en un componente</h3>

<div>
  Cambiar color del texto de abajo, solo cambiará el primer elemento:
  <input type="radio" name="rad" (click)= "changeColor('green')"> Green
  <input type="radio" name="rad" (click)= "changeColor('cyan')"> Cyan
  <input type="radio" name="rad" (click)= "changeColor('blue')"> Blue
</div> 
<p appHighlight>Texto con la directive appHighlight</p>
<p appHighlight>Texto con la directive appHighlight</p>
<hr>

Contador manual:
<br/>
<button appHighlight type="button" (click)="increase()">Increase</button>
<button appHighlight = "blue" type="button" (click)="decrease()">Decrease</button>
<br/><br/>
Contador automático:
<br/>
<button type="button" (click)="startStopwatch()">Start</button>
<button type="button" (click)="stopStopwatch()">Stop</button>
<hr>

<app-viewchild-demo1child></app-viewchild-demo1child>
<hr> 
<button type="button" class="btn btn-primary" routerLink="/viewchild">Home</button>

<!-- <app-doc-fuentes-viewchild-demo1></app-doc-fuentes-viewchild-demo1>
<router-outlet></router-outlet> -->