<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>{{ title }}!</h2>
  <img width="300" alt="Angular Logo" src="assets/img/angular-red.png">
  <button (click)="sendMessage()">Send Message</button>
  <button (click)="clearMessage()">Clear Message</button>
  <button *ngIf="!sendingMessages; else yasending" class="btn btn-success" (click)="startSendMessages()">Start send messages</button>
  <ng-template #yasending>
    <button class="btn btn-succes" disabled>Start send messages</button>
  </ng-template>
  <button *ngIf="sendingMessages" class="btn btn-success" (click)="stopSendMessages()">Stop send Messages</button>
</div>

<app-receptor1></app-receptor1>
<app-receptor2></app-receptor2>

<app-doc-fuentes-comunicacion-observable></app-doc-fuentes-comunicacion-observable>'
<router-outlet></router-outlet>

