<header [hidden]="varSelectorTexto.snippets.length">
  <p> <strong>Select some of the text below</strong>:</p></header>
<header [hidden]="!varSelectorTexto.snippets.length">
  <p><strong>Select some more to add to the list</strong>:</header>
<!-- <p appTextSelector #varSelectorTexto="selectorTexto" (textSelected)="gestionTextoSeleccionado($event)"> -->
<p appTextSelector #varSelectorTexto="selectorTexto" (textSelected)="gestionTextoSeleccionado($event)">
 
  {{movieQuote}}
</p>
<p><strong>Last selection</strong>
  <em>{{text || 'none'}}</em>
</p>
<div>
  <a [hidden]="!varSelectorTexto.snippets.length" (click)="varSelectorTexto.clear(); false" href="">
    Clear
  </a>
  <ol>
    <li *ngFor="let snippet of varSelectorTexto.snippets">{{snippet}}</li>
  </ol>
</div>

<app-doc-fuentes-uso-directiva-test-snippets></app-doc-fuentes-uso-directiva-test-snippets>
<router-outlet></router-outlet>