
<h3>Ejemplos para ViewChild y ViewChildren</h3>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" routerLink="viewchild-demo1">Demo1-Instanciación de componente</button>
  <button type="button" class="btn btn-primary" routerLink="viewchild-demo2">Demo2-Instanciación de directiva</button>
  <button type="button" class="btn btn-primary" routerLink="viewchild-demo3">Demo3-Instanciación de directiva y componente</button>
  <button type="button" class="btn btn-primary" routerLink="viewchild-demo4">Demo4-QueryList + @ViewChildren Example</button>
  <button type="button" class="btn btn-primary" routerLink="viewchild-demo5">Demo5-Import Demo1 + Demo2</button>
</div>


<h3>Ejemplos para ContentChild y ContentChildren</h3>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" routerLink="contentchild-demo1">Demo1- Sobre componentes y directivas</button>

</div>

<router-outlet></router-outlet>
