<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" routerLink="demo1">Demo1-Instanciación de componente</button>
  <button type="button" class="btn btn-primary" routerLink="demo2">Demo2-Instanciación de directiva</button>
  <button type="button" class="btn btn-primary" routerLink="demo3">Demo3-Instanciación de directiva y componente</button>
  <button type="button" class="btn btn-primary" routerLink="demo4">Demo4-QueryList + @ViewChildren Example</button>
  <button type="button" class="btn btn-primary" routerLink="demo5">Demo5-Import Demo1 + Demo2</button>
</div>

<router-outlet></router-outlet>
