<header>
  Click the buttons to see the confirmation message.</header>
<p>
  <button [appConfirmDirective]="'Are you sure you want to change the color to blue?'" [functionToRun]="setBoxColor('dodgerblue')"
    [disabled]="boxColor==='dodgerblue'">
    Blue
  </button>
  <button appConfirmDirective="Are you sure you want to change the color to red?" [functionToRun]="setBoxColor('crimson')"
    [hidden]="boxColor==='crimson'">
    Red
  </button>
</p>
<div [style.backgroundColor]="boxColor" class="box">
</div>

<app-doc-fuentes-uso-directiva-confirm></app-doc-fuentes-uso-directiva-confirm>
<router-outlet></router-outlet>