<ng-template #msgTemp>
  <strong>Este mensaje se insertará cuando aparezca la directiva de atributo "CpMsg" - </strong> Happy learning!!!
</ng-template>

<div cpMsg> </div>
<h4>QueryList + @ViewChildren + ElementRef</h4>
<div>
  <div #pname>Mohit</div>
  <div #pname>Anup</div>
  <div #pname>Nilesh</div>
  Ver en console el apartado "**** Primera y ultima persona de la lista allPersons ****"
</div>
<hr>
<div cpMsg> </div>
<h4>QueryList + @ViewChildren + Component</h4>

<div>
  <writer name="Krishna" book="Angular Tutorials" #bkWriter></writer>
  <br/>
  <writer name="Mahesh" book="Java Tutorials" #bkWriter></writer>
  <br/>
  <writer name="Krishna" book="jQuery Tutorials" #bkWriter></writer>
  <br/>
  <writer name="Bramha" book="Hibernate Tutorials" #bkWriter *ngIf="showAllWriter"></writer>
  <br/>
  <writer name="Vishnu" book="Spring Tutorials" #bkWriter *ngIf="showAllWriter"></writer>
  <div>
    <button (click)="onShowAllWriters()">
      <label *ngIf="!showAllWriter">Show More</label>
      <label *ngIf="showAllWriter">Show Less</label>
    </button>
  </div>
  <ul>
    <li>
      <p style="color: brown"> Para ver los cambios en esta lista, ver en console el apartado **** cambio en allWriters ****</p>
    </li>
    <li>
      <p style="color: brown"> Para ver la lista de objetos de allWriters, ver en console el apartado '**** items de allWriters ****</p>
    </li>
    <li>
      <p style="color: brown"> Para un ejemplo de find sobre QueryList, ver en console el apartado **** Nombre del autor del libro "Java Tutorials"
        ****</p>
    </li>
    <li>
      <p style="color: brown"> Para un ejemplo de map sobre QueryList, ver en console el apartado **** Nombre de los escritores ****</p>
    </li>
    <li>
      <p style="color: brown"> Para un ejemplo de filter sobre QueryList, ver en console el apartado **** Nombre del libro del autor "Krishma" ****</p>
    </li>


  </ul>
</div>

<hr>
<button type="button" class="btn btn-primary" routerLink="/viewchild">Home</button>

<!-- Lineas dedicadas a documentacion
-------------------------------- -->
<div style="display: inline;" *ngIf="!ocultarFuentes">
    <button type="button" class="btn btn-primary" (click)="mostrarOcultarFuentes()">Ocultar fuentes</button>
    <app-doc-fuentes-viewchild-demo4></app-doc-fuentes-viewchild-demo4>
    <router-outlet></router-outlet>
 </div>   
 <div style="display: inline;" *ngIf="ocultarFuentes">
    <button type="button" class="btn btn-primary" (click)="mostrarOcultarFuentes()">Mostrar fuentes</button>
 </div> 