<div class="container-demo">
    <div class="container-demo-texto">
    Ejemplo de property binding. Se asigna desde el componente el valor de una propiedad de una clase css. En este caso el placeholder
    del campo input y la url de la imagen estan proporcionadas por el componente.
    </div>
    <br>
    <input type="text" [placeholder]="texto" size="50">
    <img [src]="angularLogo">
</div>

<app-doc-fuentes-ejpropertybinding></app-doc-fuentes-ejpropertybinding>
<router-outlet></router-outlet>