<div class="container-demo">
    <div class="container-demo-texto">
    Ejemplo de property binding. Se asigna desde el componente el valor de una propiedad de una clase css. En este caso el placeholder
    del campo input y la url de la imagen estan proporcionadas por el componente.
    </div>
    <br>
    <input type="text" [placeholder]="texto">
    <img [src]="angularLogo">
</div>
La vista
<!-- <pre><code highlight [code] = "codehtml"></code></pre> El componente
<pre><code highlight [code] = "codets"></code></pre> -->