<div class="container-demo-texto">
    <p>
        <h3>
Vemos como se muestran los botones gracias a *ngIf
            <ul>
                <li>
                    Two way binding - [(ngModel)] 
                </li>
                <li>
                    directiva ngStyle
                </li>
                <li>
                    Vemos como se trabaja con *ngIf con else utilizando templates que se definen con # y nombre del template
                </li>
            </ul>
        </h3>
    </p>

</div>