<div class="container-demo">
  <div class="container-demo-texto">
    <p>Construcción directiva y utilización en componente</p>
    <p>@HostBinding</p>
    <p>@HostListener</p>
    <p>La directiva está declarada en app.module.ts en la propiedad "Declarations" del decorador @NgModule</p>
  </div> 
  <h1 appDirectivamenu>Título</h1>
  <h1 appDirectivamenu>Descripción</h1>
  <h1 appDirectivamenu>Precio</h1>
</div>

La directiva
<pre><code highlight [code]="codedi"> Directiva</code></pre>
La vista
<pre><code highlight [code]="codehtml">Template</code></pre>
El componente
<pre><code highlight [code]="codets"> Component</code></pre>