<header [hidden]="quote.snippets.length">
  Select some of the text below.</header>
<header [hidden]="!quote.snippets.length">Select some more to add to the list.</header>
<p appTextSelector #quote="appTextSelector" (textSelected)="onSelected($event)">
  {{movieQuote}}
</p>
<p>Last selection:
  <em>{{text || 'none'}}</em>
</p>
<div>
  <a [hidden]="!quote.snippets.length" (click)="quote.clear(); false" href="">
    Clear
  </a>
  <ol>
    <li *ngFor="let snippet of quote.snippets">{{snippet}}</li>
  </ol>
</div>

<app-doc-fuentes-uso-directiva-test-snippets></app-doc-fuentes-uso-directiva-test-snippets>
<router-outlet></router-outlet>