<div class="container-demo">
    <div class="container-demo-texto">
      <p>Construcción directiva, asignación de propiedades como color y border-color desde el componente</p>
      <p>@HostBinding</p>
      <p>@HostListener</p>
      <p>La directiva está declarada en app.module.ts en la propiedad "Declarations" del decorador @NgModule</p>
    </div> 
<hr>
  El color de texto y el borde cambiarán con cada caracter introducido
  <input type="text" appRainbowDirective>
</div>

La Directiva:
<pre><code highlight [code] = "codedi"></code></pre>
La vista:
<pre><code highlight [code] = "codehtml"></code></pre>
El controlador
<pre><code highlight [code] = "codets"></code></pre>