<app-usodirectivainputhijo [tituloPropiedadDelHijo]="tituloEsPropiedadDelPadre">
</app-usodirectivainputhijo>
- El título de arriba lo ha puesto el componente usodirectivainputpadre.components.ts
<br> - Los valores de abajo vienen de un array del componente usodirectivainputpadre.components.ts
<app-usodirectivainputhijo *ngFor="let avisoitem of avisosEsPropiedadDelPadre" [avisoPropiedadDelHijo]="avisoitem">
</app-usodirectivainputhijo>

<app-doc-fuentes-usodirectivainputpadre></app-doc-fuentes-usodirectivainputpadre>
<router-outlet></router-outlet>