
<h3>@ViewChild using Component</h3>
 Contador manual:
 <br/>
<button type="button" (click)="increase()">Increase</button>
<button type="button" (click)="decrease()">Decrease</button>
<br/><br/>
Contador automático:
<br/>
<button type="button" (click)="startStopwatch()" #botonespecial>Start</button>
<button type="button" (click)="stopStopwatch()">Stop</button>
<hr>
<app-viewchild-demo1child></app-viewchild-demo1child>
<hr> 
<button type="button" class="btn btn-primary" routerLink="/viewchild">Home</button>

<!-- Lineas dedicadas a documentacion
-------------------------------- -->
<div style="display: inline;" *ngIf="!ocultarFuentes">
    <button type="button" class="btn btn-primary" (click)="mostrarOcultarFuentes()">Ocultar fuentes</button>
    <app-doc-fuentes-viewchild-demo1></app-doc-fuentes-viewchild-demo1>
    <router-outlet></router-outlet>
 </div>   
 <div style="display: inline;" *ngIf="ocultarFuentes">
    <button type="button" class="btn btn-primary" (click)="mostrarOcultarFuentes()">Mostrar fuentes</button>
 </div> 

