
<h3>@ViewChild using Component</h3>
 Contador manual:
 <br/>
<button type="button" (click)="increase()">Increase</button>
<button type="button" (click)="decrease()">Decrease</button>
<br/><br/>
Contador automático:
<br/>
<button type="button" (click)="startStopwatch()">Start</button>
<button type="button" (click)="stopStopwatch()">Stop</button>
<hr>
<app-viewchild-demo1child></app-viewchild-demo1child>
<hr> 
<button type="button" class="btn btn-primary" routerLink="/viewchild">Home</button>

<app-doc-fuentes-viewchild-demo1></app-doc-fuentes-viewchild-demo1>
<router-outlet></router-outlet>